*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align:center;
}

body{
    background: linear-gradient(135deg, #4F46E5, #7C3AED);
    color:white;
    min-height:100vh;
    font-family:Arial, sans-serif;
}

/* HEADLINE BOX */
.headline{
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    width:400px;
    margin:20px auto;
    padding:20px;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}

.headline h1{
    color:#fff;
    margin-bottom:5px;
}

.headline h2{
    color:#FFD166;
    text-decoration:underline;
}

/* TOSS BOX */
.Toss{
    width:500px;
    margin:30px auto;
    padding:25px;
    border-radius:20px;
}

/* TEXT INSIDE TOSS */
p{
    margin:12px 0;
    color: #0fff0a;
    font-style: oblique;
    font-size:1.6rem;
    font-weight:500;
}

/* BUTTONS */
 button{
    background-color:#FFD166;
    color:#333;
    border:none;
    padding:12px 20px;
    margin:0px;
    border-radius:10px;
    font-size:1rem;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}


.Toss button:hover{
    background-color:#FFC233;
    transform:translateY(-2px);
}

/* HIDE CLASS */
.hide{
    display:none !important;
}

.container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:100px;
    margin-top:30px;
}

.colomn{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.boxes,
.cb{
    display:grid;
    grid-template-columns: repeat(3, 70px);
    gap:15px;
    margin-top:10px;
}
.pbox,
.cbox{
    width:70px;
    height:55px;
    background-color:#FFD166;
    color:#333;
    border:none;
    border-radius:10px;
    font-size:1rem;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition: all 0.3s ease;
}

.container,
.restart{
    margin: 30px;
}

/* PLAYER CLICK HIGHLIGHT */
.highlight{
    background-color: #00ff88 !important;
    color: #000 !important;
    transform: scale(1.1);
    box-shadow: 0 0 15px #00ff88;
    transition: all 0.3s ease;
}

/* COMPUTER CLICK HIGHLIGHT */
.computer-highlight{
    background-color: #4da6ff !important;
    color: #fff !important;
    transform: scale(1.1);
    box-shadow: 0 0 15px #4da6ff;
    transition: all 0.3s ease;
}

/* OUT HIGHLIGHT (WHEN BOTH CHOOSE SAME NUMBER) */
.out-highlight{
    background-color: #ff3b3b !important;
    color: #fff !important;
    transform: scale(1.15);
    box-shadow: 0 0 20px #ff3b3b;
    animation: outFlash 0.5s ease-in-out;
}

/* OUT ANIMATION */
@keyframes outFlash{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1.15);
    }
}